* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */

.main-heading {
  color: #171f46;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 45px;
}

.main-paragraph {
  color: #64748b;
  font-family: 'Roboto';
}

.card-item {
  display: flex;
  flex-direction: row;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4faff;
  background-size: cover;
  height: 100vh;
}
